@media (prefers-color-scheme: dark) {

    :root {
        --dmode-bg-color: black;
        --dmode-text-color: white;
        --dmode-border-color: white;
    }

    body {
        background-color: var(--dmode-bg-color);
        color: var(--dmode-text-color);
    }
    
    header {
        background-color: var(--dmode-bg-color);
    }

    nav {
        /* background-color: black; */
        background-color: rgb(77, 77, 77);
        border-right-color: var(--dmode-border-color);
    }

    aside {
        background-color: var(--dmode-bg-color);
        border-left-color: var(--dmode-border-color);
    }

    main {
        background-color: rgb(50, 52, 54);
    }

    #bottom-center {
        border-top-color: var(--dmode-border-color);
        background-color: var(--dmode-bg-color);
    }

    input[type=text] {
        color: var(--dmode-text-color);
        background-color: var(--dmode-bg-color);
        border-bottom-color: var(--dmode-border-color);
    }
}
