@font-face{
    font-family: 'Fira Code';
    src: url('/styles/webfonts/FiraCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/styles/webfonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/styles/webfonts/FiraCode-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('eot/FiraCode-Bold.eot');
    src: url('/styles/webfonts/FiraCode-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
