body {
    font-family: 'Fira Code';
    font-size: 1em;
    margin-top: 46px;
    margin-bottom: 45px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.container {
    height: 100%;
}

nav {
    float: left;
    position: fixed;
    left: 0;
    top: 46;
    margin-bottom: 45px;
    height: 100%;
    width: 250px;
    border-right-style: solid;
    border-right-width: 1px;
}

main {
    margin-left: 250px;
    margin-right: 250px;
}

aside {
    float: right;
    position: fixed;
    right: 0;
    top: 46;
    height: 100%;
    width: 250px;
    border-left-style: solid;
    border-left-width: 1px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
}

#bottom-center {
    margin-left: 251px;
    margin-right: 251px;
    border-top-style: solid;
    border-top-width: 1px;
}
