:root {
    --lmode-bg-color: white;
    --lmode-text-color: black;
    --lmode-border-color: black;
}

header {
    background-color: var(--lmode-bg-color);
}

nav {
    background-color: rgb(241, 241, 241);
    border-right-color: var(--lmode-border-color);
}

aside {
    background-color: var(--lmode-bg-color);
    border-left-color: var(--lmode-border-color);
}

#bottom-center {
    background-color: var(--lmode-bg-color);
    border-top-color: var(--lmode-border-color);
}

input[type=text] {
    background-color: var(--lmode-bg-color);
    color: var(--lmode-text-color);
    border-bottom-color: var(--lmode-border-color);
}
